#top
{
    border: solid red;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
h1
{
    background-color: aqua;
    text-align: center;
    border: solid black;
    padding-left: 60px;
    padding-right: 60px;
}
.google-Sofia
{
    font-family: 'Sofia', sans-serif;
}
a
{
    font-size: 20px;
}